<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy
      script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval';
      content='script-src 'self' 'unsafe-inline' 'unsafe-eval' https://ssl.gstatic.com;"
    />
    <title>RLC Blind Ministry</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
