.container {
	position: relative;
}

    .jumbotron {
      background-color: #143866;
      color: #81c341;
      width: 100%;
      height: 200px;
    }

    .attendees {
      overflow: scroll;
      position: absolute;
      height: 50%;
      width: 50%;
      float: right;
      clear: right;
      left: 639px;
      top: 74px;
      padding-left: 20px;
    }

    .drivers {
      overflow: scroll;
      position: absolute;
      height: 50%;
      width: 50%;
      float: left;
    }

    map {
      width: 100%;
      height: 600px;
      float: none;
      clear: both;
      position: absolute;
      left: 1px;
      top: 560px;
    }

.table-wrapper {
  margin-bottom: 25px;
  border-radius: 6px;
  border: 4px solid #ccc;
  /* background: #fff; */
  overflow: hidden; /* Clips any scrollbars that appear */
}

table {
  width: 100%;
  overflow: auto; /* Allow scrolling within the table */
  display: grid;
  /* grid-template-columns:
    minmax(220px, 1fr)
    minmax(200px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(100px, 1fr)
    minmax(250px, 3fr); */
}

.driver-table {
  grid-template-columns:
    minmax(220px, 1fr)
    minmax(200px, 1fr)
    minmax(150px, 1fr)
    minmax(150px, 1fr)
    minmax(100px, 1fr)
    minmax(250px, 3fr);
}

.attendee-table {
  grid-template-columns:
    minmax(220px, 1fr)
    minmax(200px, 1fr)
    minmax(250px, 1fr);
}

table thead, tr {
  display: contents;
}
table tbody,
table tr {
  display: contents;
}

table th {
  position: relative;
  font-size: 18px;
  text-align: left;
  padding: 10px 15px;
}

table thead,
  th {
      border-left: 4px solid #ccc;
      border-bottom: 4px solid #ccc;
}

table td {
  text-align: left;
  padding: 10px 15px;
}

table th span,
table td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

table tr td {
  border-top: 1px solid #ccc;
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 8px;
  padding-left: 4px;
  right: 0;
  top: 0;
  z-index: 99;
  /* border-right: 2px solid; */
   /* transparent; */
}

.resize-handle:hover {
  border-color: #161616;
}

.resize-handle.active {
  border-color: #517ea5;
}

    /* table {
      border-spacing: 5px;
      border-left: 2px solid black;
      border-right: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;

    }

    th,
    td {
      padding: 15px;
      width: auto;
      border-spacing: 5px;
      border-bottom: 2px solid black;
      text-align: center;

    }

    tr {
      border-left: 2px solid black;
      border-right: 2px solid black;
    } */


table tbody,
  tr:nth-child(odd) {
      background-color: #6face9;
}

.nav {
	float: left;
	width: 200px;
	height: 100%;
	clear: left;
	top: 150px;
	display: inline;
	position: relative;
}

.header {
	color: #81c341;
	background: #143866 scroll;
	position: fixed;
	float: none;
	width: 100%;
	height: 145px;
	top: 0;
	text-align: center;
	font: small-caps xx-large Copperplate;
	vertical-align: middle;
	clear: both;
}

.header h2 {
	height: auto;
	width: 100%;
	position: inline-block;

}

.header img {
	float: left;
	top: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.footer {
	color: #81c341;
	background: #143866 scroll;
	position: absolute;
	float: none;
	width: 100%;
	height: 50px;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	font: small-caps 18pt 1px , Copperplate;
	margin-top: 12px;
	clear: both;
}

.phone {
	background-color: #143866;
	color: #81c341;
	font-family: Copperplate;
	top: 10px;
	right: 20px;
	display: block;
	clear: left;
	position: absolute;
	width: 55px;
	height: 55px;
	z-index: 8;
}

.phone img {
	top: 0px;
	float: right;
}

.phone a {
	color: #81c341;
	font: 12pt Copperplate;
	vertical-align: middle;
	margin-top: 12px;
	text-decoration: none;
	text-align: right;
	padding-left: 4px;
	padding-right: 4px;
}

/**.phone #wrapper .text {
	position: relative;
	bottom: 48px;
	left: -105px;
	visibility: hidden;
	width: 220px;
}
.phone #wrapper:hover .text {
	visibility: visible;
}**/
.email {
	color: #81c341;
	text-align: left;
	font-family: Copperplate;
	top: 65px;
	right: 20px;
	display: block;
	clear: right;
	position: absolute;
	width: 55px;
	height: 55px;
	z-index: 8;
}
.email img {
	top: 0px;
	float: right;
}

.chart {
	margin-top: 50px;
	margin-left: 25px;
	margin-right: 25px;
	clear: both;
}

.email a {
	color: #81c341;
	font: 12pt Copperplate;
	vertical-align: middle;
	margin-top: 12px;
	text-decoration: none;
	text-align: right;
	padding-left: 8px;
	padding-right: 4px;
}

.contact {
	color: #81c341;
	font: normal 10pt Copperplate;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
.contact a{
	color: #81c341;
	font: normal 10pt Copperplate;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}
#wrapper .text {
	position: absolute;
	float: left;
	bottom: 5px;
	left: -225px;
	visibility: hidden;
	width: 225px;
	text-align: middle;
	vertical-align: middle;
}
#wrapper:hover .text {
	visibility: visible;
}

body {
	margin-bottom: 51px;
}
.Main {
	position: relative;
	clear: both;
	top: 160px;
	left: 25px;
	height:  60%;
	width: 100%;
	margin-bottom: 52px;
	margin-right: 52px;
	overflow: scroll;

}

.attendees {
	margin-top:  150px;
}

.live {
	width: 200px;
	height: 100px;
	clear: left;
	float: right;
	display: inline;
}

/* table{
	border-spacing: 5px;
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-top: 4px solid black;
		border-bottom: 4px solid black;

	width: 100%;


}
th, td {
    padding: 15px;
    width: 200px;
    border-spacing: 5px;
    border-bottom: 2px solid black;

}
tr {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
tr:nth-child(odd) {
	background-color: #b4cbff;
} */
div #map {
	display: inline-block;
	clear: both;
	visibility: visible;
	width: 100%;
	height: 400px;
	padding: 1px;
	padding-top:200px;
	margin-top: 200px;
	overflow: scroll;
	margin-left: 25px;
	margin-right: 52px;
}
.form-control.valid {
  border-color: green;
}

.form-control.invalid {
  border-color: red;
}

.form-control + small {
  color: red;
  opacity: 0;
  height: 0;
  transition: opacity .4s ease-out;
}

.form-control.invalid + small {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
  transition: opacity .4s ease-out;
}

@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
